	<table class="table">
		<tr>
		  <td>類別</td>
			<td>標題</td>
			<td>發文者</td>
			<td>發文時間</td>
		</tr>
		<%@prayer.each do |p|%>
			<tr>
				<td><%=p.category.name%></td>
				<td><%=link_to p.title,prayer_path(p)%></td>
				<td><%=p.user.try(:name)||p.user.try(:email)%></td>
				<td><%=p.created_at.to_s(:short)%></td>
				<td>
					<% if current_user && current_user == p.user %>
						<%= link_to "編輯文章",edit_prayer_path(p), :class=> "btn btn-default" %>
						<%=link_to "刪除文章", prayer_path(p), :method=>:delete, :class=> "btn btn-danger" %>
					<%end%>
				</td>
			</tr>

		<%end%>

	</table>

	<%=link_to "我要代禱",new_prayer_path,:class=>"btn btn-default"%>